
@import url(https://fonts.googleapis.com/css?family=Fredoka+One);
@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,700,800);
/* google fonts */
/*



:root {
	--theme-color:	#55aad1;	
	--theme-dark:	#3f789e;	
	--white-accent:	#eee;
	--black-accent:	#3c3c3c;
}

html{
    /* overflow: hidden; 
	font-family: Fredoka One, sans-serif;
}

*/
/*
*, html, body{
    /* padding: 0; */
/* }  */
/*
.canvas{
    margin: 0;
    justify-content: center;
    text-align:center; 
}
*/
